/* src/App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #F5F3F5; /* Fondo claro pastel */
  font-size: 16px; /* Tamaño base del texto */
  line-height: 1.6; /* Mejorar la legibilidad */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Tamaño del texto reactivo usando unidades relativas */
h1 {
  font-size: 2.5rem !important; /* Tamaño grande para títulos */
}

h2 {
  font-size: 2rem !important; /* Tamaño medio para subtítulos */
}

h3 {
  font-size: 1.75rem !important; /* Tamaño mediano para subtítulos secundarios */
}

p {
  font-size: 1rem !important; /* Tamaño de texto para párrafos */
}

a {
  font-size: 1rem !important; /* Tamaño del texto para enlaces */
}

/* Media queries para ajustar tamaños en pantallas pequeñas */
@media (max-width: 768px) {
  body {
    font-size: 14px !important; /* Reducir el tamaño base en pantallas pequeñas */
  }

  h1 {
    font-size: 2rem !important; /* Ajustar el tamaño del título */
  }

  h2 {
    font-size: 1.75rem !important; /* Ajustar el tamaño del subtítulo */
  }

  h3 {
    font-size: 1.5rem !important; /* Ajustar el tamaño del subtítulo secundario */
  }

  p, a {
    font-size: 0.875rem !important; /* Ajustar el tamaño del texto */
  }
}

/* Media queries para ajustar tamaños en pantallas grandes */
@media (min-width: 1200px) {
  body {
    font-size: 18px !important; /* Aumentar el tamaño base en pantallas grandes */
  }

  h1 {
    font-size: 3rem !important; /* Ajustar el tamaño del título */
  }

  h2 {
    font-size: 2.25rem !important; /* Ajustar el tamaño del subtítulo */
  }

  h3 {
    font-size: 1.75rem !important; /* Ajustar el tamaño del subtítulo secundario */
  }

  p, a {
    font-size: 1.125rem !important; /* Ajustar el tamaño del texto */
  }
}
